asgiref
coverage
dj-database-url
Django
django-widget-tweaks
djangorestframework
drf-yasg
gunicorn
inflection
packaging
pillow
psycopg2
psycopg2-binary
python-dotenv
pytz
PyYAML
sqlparse
uritemplate
whitenoise
