{% extends 'base.html' %}
{% load static %}

{% block tab %} About {% endblock %}

{% block title %} About {% endblock %}

<!-- block with
 * origin of the idea
 * mission
 * how to use the website -->

{% block content %}

<div class="page-description">

    <!-- description of our project -->
    <h3 class="page-title">About Our Project</h3>

    <p class="about-us">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
    <p class="about-us">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
    <p class="about-us">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>
    <p class="about-us">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </p>

    <!-- description with our team -->
    <h3 id="meet-our-team">Meet Our Team</h3>

    <p id="team-description">
        The amazing team that made all this possible!
    </p>

    <!-- block to put our pic, names, and roles -->
    <div class="team-box">
        <img src="../static/images/profile-pic.avif">
        <div class="name-and-description">
            <h4>Alaa Ali Omer Karoum</h4>
            <h5>Back-End Developer</h5>
        </div>
    </div>

    <div class="team-box">
        <img src="../static/images/profile-pic.avif">
        <div class="name-and-description">
            <h4>Malte Richter</h4>
            <h5>Back-End Developer</h5>
        </div>
    </div>

    <div class="team-box">
        <img src="../static/images/profile-pic.avif">
        <div class="name-and-description">
            <h4>Martina Colombo</h4>
            <h5>Front-End Developer</h5>
        </div>
    </div>

    <div class="team-box">
        <img src="../static/images/profile-pic.avif">
        <div class="name-and-description">
            <h4>Mattis Menger</h4>
            <h5>Back-End Developer & TechLeader</h5>
        </div>
    </div>

    <div class="team-box">
        <img src="../static/images/profile-pic.avif">
        <div class="name-and-description">
            <h4>Muhammad Radwan</h4>
            <h5>Back-End Developer & SCRUM Master</h5>
        </div>
    </div>

    <div class="team-box">
        <img src="../static/images/profile-pic.avif">
        <div class="name-and-description">
            <h4>Shahzad Alkozay</h4>
            <h5>Front-End Developer</h5>
        </div>
    </div>

</div>

<!-- to to: ask for pics if the idea is approved -->

{% endblock %}