{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">    <title>{% block tab %}Title in the tab{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/idea_cloud.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
</head>
<body>
    <header>
        <div class="header">
            <h1>IdeaCloud</h1>
            <h2>Where visions meet skills.</h2> 
        </div>
        <!-- url targets names to be defined -->
        <nav class="nav-bar">
            <div class="nav-tag"><a href="{% url 'front-end:home' %}">HOME</a></div>
            <div class="nav-tag"><a href="{% url 'front-end:project-ideas' %}">PROJECT IDEAS</a></div>
            <div class="nav-tag"><a href="{% url 'front-end:project-details' %}">PROJECT DETAILS</a></div>
            <div class="nav-tag"><a href="{% url 'front-end:login' %}">LOGIN</a></div>
            <div class="nav-tag"><a href="{% url 'front-end:register' %}">REGISTER</a></div>
            <div class="nav-tag"><a href="{% url 'front-end:user-profile' %}">USER PROFILE</a></div>
            <div class="nav-tag"><a href="{% url 'front-end:about' %}">ABOUT</a></div>
            <!-- view to be modified (logged in / logged out) -->
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="footer-tag">&copy; 2026 Our Final Project</div>
        <div class="footer-tag">—</div>
        <div class="footer-tag">Alaa Ali Omer Karoum</div>
        <div class="footer-tag">Malte Richter</div>
        <div class="footer-tag">Martina Colombo</div>
        <div class="footer-tag">Mattis Menger</div>
        <div class="footer-tag">Muhammad Radwan</div>
        <div class="footer-tag">Shahzad Alkozay</div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>