{% extends 'base.html' %}
{% load static %}

{% block tab %}Comments for {{ idea.title }}{% endblock %}

{% block content %}

<div class="page-description">
    
    <h3 class="page-title">Comments for {{ idea.title }}</h3>

    <p>
        Here are all the comments on "{{ idea.title }}" project.
    </p>

    <h4>Let us know what you think!</h4>
    <!-- add a comment -->
    {% if user.is_authenticated %}
    <div class="add-comment">
        <form action="{% url 'front-end:add-comment' idea.id %}" method="POST">
            {% csrf_token %}
            <textarea name="content" placeholder="Write your comment..." rows="3" required></textarea>
            <!-- # TODO: add more margin between textare and button -->
            <button type="submit" class="button" id="post-comment">Post Comment</button>
        </form>
    </div>
    {% else %}
    <p><a href="{% url 'front-end:login' %}">Login</a> to post a comment.</p>
    {% endif %}

</div>

<!-- where the list of comments with the username are separated by an horizontal line  -->
{% if comments %}

    {% for comment in comments %}
        <div class="comment-box">
            {% if comment.author.image %}
                <a href="{% url 'front-end:public-user-profile' comment.author.id %}"><img src="{{ comment.author.image.url }}"></a>
            {% else %}
                <a href="{% url 'front-end:public-user-profile' comment.author.id %}"><img src="../media/profile_images/default.jpg"></a>
            {% endif %}

            <div class="name-and-comment">
                <h4>
                    <a href="{% url 'front-end:public-user-profile' comment.author.id %}">
                        {{ comment.author.username }}
                    </a>
                </h4>
                <p>
                    {{ comment.content }}
                </p>

                <div class="comment-actions">
                
                <!-- Show edit and delete buttons only to comment author or admin -->
                {% if request.user == comment.user or request.user.is_staff %}
                    <div class="button"><a href="{% url 'front-end:edit-comment' comment.id %}">Edit</a></div>
                    <form action="{% url 'front-end:remove-comment' comment.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="button">Delete</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr>

    {% endfor %}

{% else %}
        <p>
            No comments yet.
        </p>

{% endif %}

{% endblock %}