{% extends 'default_template.html' %}
{% load static %}

{% block tab %} Contact Us {% endblock %}

{% block title %} Contact Us {% endblock %}

<!-- to discuss with the back-end if to put it -->

{% block content %}
<p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>

<!-- to add: form to send us an email, if agreed upon, with
 * name
 * surname 
 * email
 * message -->
{% endblock %}
