{% extends 'base.html' %}
{% load static %}

{% block title %} Favourite Projects {% endblock %}


{% block content %}

<div class="page-description">
    
    <h3 class="page-title">Favourite Projects</h3>

    <p>
        All your favourite projects.
    </p>

</div>

{% if favourites %}
    <div class="ideas-grid">
        {% for idea in favourites %}
        <div class="idea-card">
            <img src="{% static 'images/image_placeholder.jpg' %}">
            <div class="caption">
                <p class="project-title">
                    <a href="{% url 'front-end:project-details' idea.id %}">
                        {{ idea.title }}
                    </a>
                </p>
                
            {% if idea.author %}
            <p class="project-owner-thumbnail">
                By <a href="{% url 'front-end:public-user-profile' idea.author.id %}">{{ idea.author.username }}</a>
            </p> 
            {% else %}
            <h4>User Deleted</h4>
            {% endif %}                
            
                <p class="project-description-thumbnail">
                    {{ idea.description|truncatewords:10 }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <div class="no-projects">
        <hr>
        <p>
            You haven't put any projects in your favourites yet.<br>
            Start exploring and save the ones you like.
        </p>
    </div>
{% endif %}

{% endblock %}