{% extends 'base.html' %}
{% load static %}

<!-- block title and block tab to be modified to display the name of the project -->

{% block tab %} Finished Project Details {% endblock %}

{% block content %}

<div class="project-details-general-info">

  <h3> {{ idea.title }} </h3>
  <h4>By <a>{{ idea.project_group.owner.username }}</a> and {{ idea.project_group.name }} </h4>
</div>

<!-- info of the project section -->
<!-- images are only a placeholder -->
<div class="images-row">
  <img src="../static/images/image_placeholder.jpg">
  <img src="../static/images/image_placeholder.jpg">
  <img src="../static/images/image_placeholder.jpg">
</div>


<div class="project-actions">


<div>
  <p>
    {{ idea.description }}
  </p>
</div>




{% endblock %}