{% extends 'base.html' %}
{% load static %}

<!-- block title and block tab to be modified to display the name of the project -->

{% block tab %} Finished Project Details {% endblock %}

{% block content %}

<div class="project-details-general-info">

  <h3> {{ idea.title }} </h3>
  {%  if idea.project_group.owner  %}
  <h4>By <a href="{% url 'front-end:public-user-profile' idea.project_group.owner.id %}">{{ idea.project_group.owner.username }}</a> and <a href="{% url 'front-end:project-details' idea.project_group.id %}">{{ idea.project_group.name }}</a> </h4>
  {%  else  %}
  <h4>By Deleted User and <a href="{% url 'front-end:project-details' idea.project_group.id %}">{{ idea.project_group.name }}</a> </h4>
  {%  endif  %}
</div>

<!-- info of the project section -->
<!-- images are only a placeholder -->
<div class="images-row">
  <img src="../static/images/image_placeholder.jpg">
</div>


<div class="project-actions">


<div>
  <p>
    {{ idea.description }}
  </p>
</div>




{% endblock %}