{% extends 'base.html' %}
{% load static %}

{% block tab %} Home {% endblock %}

{% block title %} Home {% endblock %}

{% block content %}

<!-- recent and famous projects go here 
* profile picture of the owner
* name of the owner with link to their profile
* description of the project
* likes
* comments-->

<h1>Here are all the projects</h1>

{% for idea in ideas %}
<ul>
    <li>{{ idea.title }}</li>
    <li>{{ idea.author }}</li>
    <li>{{ idea.description }}</li>
    <li>{{ idea.tags }}</li>
</ul>
{% endfor %}

{% endblock %}