{% extends 'base.html' %}
{% load static %}

{% block tab %} Home {% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="page-description">
    
    <h3 class="page-title">Welcome to IdeaCloud</h3>

    <p>
        Start browsing the projects of our community.
    </p>

</div>

<div class="ideas-grid">
    {% for idea in ideas %}
    <div class="idea-card">
        <img src="{% static 'images/image_placeholder.jpg' %}">
        <div class="caption">
            <p class="project-title">
                <a href="{% url 'front-end:project-details' idea.id %}">
                    {{ idea.title }}
                </a>
            </p>
           {% if idea.author %}
            <p class="project-owner-thumbnail">
                By <a href="{% url 'front-end:public-user-profile' idea.author.id %}">{{ idea.author.username }}</a>
            </p> 
            {% else %}
            <h4>User Deleted</h4>
            {% endif %}
            <p class="project-description-thumbnail">
                {{ idea.description|truncatewords:10 }}
            </p>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}
<div class="page-description">
    
    <h3 class="page-title">Welcome to IdeaCloud</h3>

    <p>
        Not part of our community yet? <a href="{% url 'front-end:register' %}">Register!</a>
    </p>

</div>

{% endif %}

{% endblock %}