{% extends 'base.html' %}
{% load static %}

{% block tab %} Interested Users {% endblock %}

{% block content %}

<div class="page-description">
    
    <h3 class="page-title">Interested Users</h3>

    <p>
        Here are all the users interested in working on this project.
    </p>

</div>

<!-- username and status (available/busy) of the interested users -->

{% if interested_users %}
    {% for user in interested_users %}
    <div class="group-box">
        <div class="user-info">
            <h4>{{ user.username }}</h4>
            {% if user.available %}
            <h4>✅ User is available for collaboration</h4>
            {% else %}
            <h4>🛑 User is unavailable for collaboration at this time</h4>
            {% endif %}
   {% endfor %}      
{% endif %}
{% endblock %}

