{% extends 'base.html' %}
{% load static %}

{% block tab %} Interested Users {% endblock %}

{% block title %} Interested Users {% endblock %}

{% block content %}

<div class="page-description">
    
    <h3 class="page-title">Interested Users</h3>

    <p>
        Here are all the users interested in working on this project.
    </p>

</div>


<div class="group-box">
    <h4>[Username]</h4>
    <p>Available: </p>
    <hr>
</div>

<div class="group-box">
    <h4>[Username]</h4>
    <p>Available: </p>
    <hr>
</div>

<div class="group-box">
    <h4>[Username]</h4>
    <p>Available: </p>
    <hr>
</div>

<div class="group-box">
    <h4>[Username]</h4>
    <p>Available: </p>
    <hr>
</div>

{% endblock %}