{% extends 'base.html' %}
{% load static %}

{% block tab %} Log In {% endblock %}

{% block title %} Log In {% endblock %}

{% block content %}

<!-- form to be modified (no HTML) to connect front-end and back-end -->

<div class="page-description">
    
    <h3 class="page-title">Login Form</h3>

    <p>
        To take advantage of all our cool features (groups, comments, save favourite etc.) sign up to the webapp.
    </p>
    <p>
        Not part of our community yet? <a href="{% url 'front-end:register' %}">Register!</a>
    </p>

</div>

<form>
  
  {% csrf_token %}

  <label for="username">Username *</label><br>
  <input type="text" id="username" name="username" placeholder="username" required>

  <label for="password">Password *</label><br>
  <input type="password" id="password" name="password" placeholder="password" required>

  <!-- disclaimer -->
  <p class="disclaimer">
      * are required fields
  </p>

  <div class="register-buttons">
      <button type="submit" class="button" id="confirm-button">Login</button>
      <button type="reset" class="button" id="cancel-button">Cancel</button>
  </div>

</form>
{% endblock %}