{% extends 'default_template.html' %}
{% load static %}

{% block tab %} Log In {% endblock %}

{% block title %} Log In {% endblock %}

{% block content %}
{% if error %}
  <p style="color:red;">{{ error }}</p>
{% endif %}

<!-- form to be modified (no HTML) to connect front-end and back-end -->

<form method="post">
  {% csrf_token %}

  <p>
    <label>Username</label><br>
    <input type="text" name="username" required>
  </p>

  <p>
    <label>Password</label><br>
    <input type="password" name="password" required>
  </p>

  <button type="submit">Login</button>
</form>
{% endblock %}