{% extends 'base.html' %}
{% load static %}

<!-- block title and block tab to be modified to display the name of the project -->

{% block tab %} Project Details {% endblock %}

{% block content %}

<div class="project-details-general-info">
  <h3> {{ idea.title }} </h3>
  {% if idea.author %}
     <h4>By <a href="{% url 'front-end:public-user-profile' idea.author.id %}"> {{ idea.author }}</a></h4>
      {% else %}
      <h4>User Deleted</h4>
      {% endif %} 
  </div>

<!-- info of the project section -->
<!-- images are only a placeholder -->
<div class="images-row">
  {% for image_data in idea.images_projects.all %}
  <div>
    <img src="{{  image_data.image.url  }}">
    {% if author_id ==  user_id %}
      <a href="{% url 'front-end:remove-image-from-project' idea.id image_data.id  %}">Delete Image</a>
    {% endif %}
  </div>
  {% endfor %}
  <!-- <img src="../static/images/image_placeholder.jpg">
  <img src="../static/images/image_placeholder.jpg">
  <img src="../static/images/image_placeholder.jpg"> -->
</div>

{% if author_id == user_id %}
<label>Upload Image</label>
<form method ="POST" action="{% url 'front-end:add-image-to-project' idea.id  %}" enctype="multipart/form-data">
	{% csrf_token %}
  <input type="file" id="project-image-upload" name="project-image">
	<input type="submit" value="Upload">
</form>
{% endif %}

 <!-- Tags -->
   <div class="tags-container">        
        {% for tag in idea.tags.all %}
            <label for="tag-{{ tag.id }}" class="tag-btn">{{ tag.name }}</label>
        {% empty %}
            <p class="no-tags">No tags available. Contact admin to add tags.</p>
        {% endfor %}
    </div>


<div class="project-actions">
  <!-- where the likes will go -->
  <div class="likes-button">
    <div class="button">{{ like_count }} Likes</div>
  </div>
  {%  if user.is_authenticated  %}
  <!-- buttons with add/remove project from favourites -->
  {% if has_favourited %}
    <form action="{% url 'front-end:remove-favourite' idea.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="button">Remove from Favourites</button>
    </form>
  {% else %}
    <form action="{% url 'front-end:add-favourite' idea.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="button">Add to Favourites</button>
    </form>
  {% endif %}

  <!-- buttons with add/remove project from saved -->
  {% if has_saved %}
    <form action="{% url 'front-end:remove-saved' idea.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="button">Remove from Interested</button>
    </form>
  {% else %}
    <form action="{% url 'front-end:add-saved' idea.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="button">Add to Interested</button>
    </form>
  {% endif %}

  <!-- buttons with add/remove project from saved -->
  {% if has_liked %}
    <form action="{% url 'front-end:remove-like' idea.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="button">Remove Like</button>
    </form>
  {% else %}
    <form action="{% url 'front-end:add-like' idea.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="button">Add Like</button>
    </form>
  {% endif %}
   {% if author_id ==  user_id %}
    <form method="POST" action="{% url 'front-end:delete-project' idea.id %}" onsubmit="return confirm('Are you sure you want to delete this project? This cannot be undone.');">
    {% csrf_token %}
    <button type="submit" class="button delete-button">Delete Project</button>
  </form>
  {% endif %}
</div>
{% endif %}
    <!-- button delete project from databsae -->
 
<div>
  <p>
    Description: {{ idea.description }}
  </p>
</div>

<!-- link to the pages of the project comments (if any)-->
  {% if user.is_authenticated %}
<p class="comments">
  <a href="{% url 'front-end:comments' idea.id %}">Comments</a>
</p>
  

{%  if user.is_authenticated  %}
<!-- section with buttons for opening the page with interested users and groups -->
<div class="project-details-buttons">
  <div class="button-left">
    <div class="project-details-button-tag"><a href="{% url 'front-end:interested-users' idea.id %}">INTERESTED USERS</a></div>
  </div>
  <div class="button-right">
    <div class="project-details-button-tag"><a href="{% url 'front-end:project-groups' idea.id %}">GROUPS WORKING ON IT</a></div>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock %}