{% extends 'base.html' %}
{% load static %}

{% block tab %} Project Ideas {% endblock %}

{% block content %}

<!-- display of the projects to be made -->

<!-- project ideas displayed -->
<div class="page-description">
    <h3 class="page-title">All Projects</h3>
</div>

{% if user.is_authenticated %}
<div class="new-project-button">
  <a href="{% url 'front-end:create-project' %}" class="button">New Project +</a>
</div>
{% endif %}

<div class="ideas-grid">
    {% for idea in ideas %}
    <div class="idea-card">
        {%  if idea.image  %}
        <img src="{{ idea.image.image.url }}">
        {% else %}
        <img src="{% static 'images/image_placeholder.jpg' %}">
        {% endif %}
        <div class="caption">
            <p class="project-title">
                <a href="{% url 'front-end:project-details' idea.idea.id %}">
                    {{ idea.idea.title }}
                </a>
            </p>
            {% if idea.idea.author %}
            <p class="project-owner-thumbnail">
                By <a href="{% url 'front-end:public-user-profile' idea.idea.author.id %}">{{ idea.idea.author.username }}</a>
            </p> 
            {% else %}
            <h4>User Deleted</h4>
            {% endif %}
            <p class="project-description-thumbnail">
                {{ idea.idea.description|truncatewords:10 }}
            </p>
        </div>
    </div>
    {% endfor %}
</div>

<!-- maybe 'more' button?
<p class="more-projects">
    More Projects
</p>
-->

{% endblock %}