{% extends 'default_template.html' %}
{% load static %}

<!-- block title and block tab to be modified to display the name of the project -->

{% block tab %} Project Details {% endblock %}

{% block title %} project Details {% endblock %}

<!--
  * title
  * picture of the owner
  * name of the onwer with link to their profile
  * description
  * likes
  * comments
  * participants to the project-->

{% block content %}
<p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>
{% endblock %}