{% extends 'base.html' %}
{% load static %}

<!-- block title and block tab to be modified to display the name of the project -->

{% block tab %} Project Details {% endblock %}

{% block content %}

<div class="project-details-general-info">
  <h3> {{ idea.title }} </h3>
  <h4>By <a>{{ idea.author }}</a></h4>
</div>

<!-- buttons with add/remove project from favourites -->
<div class="fav-project-bttn">
  {% if has_favourited %}
    <form action="{% url 'front-end:remove-favourite' idea.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="button">Remove from Favourites</button>
    </form>
{% else %}
    <form action="{% url 'front-end:add-favourite' idea.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="button">Add to Favourites</button>
    </form>
{% endif %}
</div>

<!-- info of the project section -->
<!-- images are only a placeholder -->
<div class="images-row">
  <img src="../static/images/image_placeholder.jpg">
  <img src="../static/images/image_placeholder.jpg">
  <img src="../static/images/image_placeholder.jpg">
</div>

<!-- where the likes will go -->
<div class="likes-button">
  <div class="button">1234 Likes</div>
</div>
<div>
  <p>
    {{ idea.description }}
  </p>
</div>

<!-- link to the pages of the project comments (if any)-->
<p class="comments">
  <a href="{% url 'front-end:comments' %}">Comments</a>
</p>

<!-- section with buttons for opening the page with interested users and groups -->
<div class="project-details-buttons">
  <div class="button-left">
    <div class="project-details-button-tag"><a href="{% url 'front-end:interested-users' %}">INTERESTED USERS</a></div>
  </div>
  <div class="button-right">
    <div class="project-details-button-tag"><a href="{% url 'front-end:project-groups' %}">GROUPS WORKING ON IT</a></div>
  </div>
</div>

{% endblock %}