{% extends 'base.html' %}
{% load static %}

{% block tab %} Project Groups {% endblock %}

{% block content %}

<div class="page-description">
    
    <h3 class="page-title">Project Groups</h3>

    <p>
        Here are all the groups currently working on this project.
    </p>

</div>

{% if groups %}

    {% for group in groups %}
    <!-- group lists with name of the group and name of the member -->
    <div class="group-box">
        <h4>{ group.name }</h4>
        <p><strong>Owner:</strong> {{ group.owner.username }}</p>
        <p>[Person Name]</p>
        <p>[Person Name]</p>
        <hr>
    </div>
    {% endfor %}

{% else %}

    <p>No project groups yet.</p>

{% endif %}

{% endblock %}