{% extends 'base.html' %}
{% load static %}

{% block tab %} Project Groups {% endblock %}

{% block content %}

<div class="page-description">
    
    <h3 class="page-title">Project Groups</h3>

    <p>
        Here are all the groups currently working on this project.
    </p>

{% if request.user.is_authenticated %}

    <!-- add group option if user is owner of the project -->
    </div>
        <p>Create a group for this project.</p>
        <form action="{% url 'front-end:create-new-project-group' idea.id %}" method="POST">
            {% csrf_token %}
            <label>Group Name</label>
            <input type="text" name="name" required>
            <label>Description</label>
            <textarea name="description" rows="4"></textarea>
            <button type="submit" class="button">Create Group</button>
        </form>

        {% if groups %}

        {% for group in groups %}
        <!-- group lists with name of the group and name of the member -->
        <div class="group-box">
            <h4>{{ group.name }}</h4>
            {%  if group.owner  %}
            <p><strong>Owner:</strong><a href="{% url 'front-end:public-user-profile' group.owner.id %}"> {{ group.owner.username }}</a></p>
            {%  else  %}
            <p><strong>Owner:</strong> Deleted User</p>
            {%  endif  %}
            <p>Other members:</p>
            {% for member in group.members.all %}
                <p><a href="{% url 'front-end:public-user-profile' member.id %}">{{ member.username }}</a></p>
            {% endfor %}
            <hr>
        </div>
        {% endfor %}

    {% else %}

        <p>No project groups yet.</p>

    {% endif %}

{% else %}

    {% if groups %}

        {% for group in groups %}
        <!-- group lists with name of the group and name of the member -->
        <div class="group-box">
            <h4>{{ group.name }}</h4>
            {%  if group.owner  %}
            <p><strong>Owner:</strong><a href="{% url 'front-end:public-user-profile' group.owner.id %}"> {{ group.owner.username }}</a></p>
            {%  else  %}
            <p><strong>Owner:</strong> Deleted User</p>
            {%  endif  %}
            <p>Other members:</p>
            {% for member in group.members.all %}
                <p><a href="{% url 'front-end:public-user-profile' member.id %}">{{ member.username }}</a></p>
            {% endfor %}
            <hr>
        </div>
        {% endfor %}

    {% else %}

        <p>No project groups yet.</p>

    {% endif %}

{% endif %}

{% endblock %}