{% extends 'base.html' %}
{% load static %}

{% block title %} Saved Projects {% endblock %}

{% block content %}

<div class="page-description">
    
    <h3 class="page-title">Saved Projects</h3>

    <p>
        All your saved projects.
    </p>

</div>

<div class="ideas-grid">
    {% for idea in saved %}
    <div class="idea-card">
        <img src="{% static 'images/image_placeholder.jpg' %}">
        <div class="caption">
            <p class="project-title">
                <a href="{% url 'front-end:project-details' idea.id %}">
                    {{ idea.title }}
                </a>
            </p>
            <p class="project-owner-thumbnail">
                By {{ idea.author }}
            </p>
            <p class="project-description-thumbnail">
                {{ idea.description|truncatewords:10 }}
            </p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}