{% extends 'base.html' %}
{% load static %}

{% block tab %} Profile {% endblock %}

{% block content %}

<div class="user-profile">
    <h3 class="page-title"> {{ user_profile.username }}'s Profile</h3>
    <div class="columns">
        <div class="column-left">
            <!-- user description will be replaced by value-->
            <!-- if none saved...? -->
            {% if user_profile.description %}
            <p>
                {{ user_profile.description }}
            </p>
            {% else %}
            <p>
                No description for this user.
            </p>
            {% endif %}
        </div>    
        <div class="column-right">
            <div class="profile-img">
                {% if user_profile.image %}
                    <img src="{{ user.image.url }}">
                {% else %}
                    <img src="../static/images/profile-pic.avif">
                {% endif %}
            </div>
            <div class="profile-links">
                <!-- availability takes a boolean to display different images-->
                <div class="user-info">
                    Available
                {% if user_profile.available == True %}
                    <img src="../static/images/available.svg">
                {% else %}
                    <img src="../static/images/unavailable.svg">
                {% endif %}
                </div>
                <!-- probably the permissions will determine which user sees what-->
                <div class="user-info"><a href="{% url 'front-end:favourite-projects' %}">Favourite Projects</a></div>
                <div class="user-info"><a href="{% url 'front-end:saved-projects' %}">Saved Projects</a></div>
                <div class="user-info"><a href="{% url 'front-end:completed-projects' %}">Completed Projects</a></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}