{% extends 'base.html' %}
{% load static %}

{% block tab %} Profile {% endblock %}

{% block content %}

<div class="user-profile">
    <h3 class="page-title"> {{ user_profile.username }}'s Profile</h3>
    <div class="columns">
        <div class="column-left">
            <!-- user description will be replaced by value-->
            <!-- if none saved...? -->
            {% if user_profile.description %}
            <p>
                {{ user_profile.description }}
            </p>
            {% else %}
            <p>
                No description for {{ user_profile.username }}.
            </p>
            {% endif %}
            <p style="text-align: left;"> 
                <br><br><br><br><br><br><br><br><br><br>
                You are currently indicated as {% if user_profile.available %} "avaialable" to collaborate with other users on a project {% else %} "unavailable" to collaborate with other users on a project. {% endif %}
                
                If you would like to change your availability, please click <a href="{% url 'front-end:user-availability' user_profile.id %}">HERE</a>.
            </p>
        </div>    
        <div class="column-right">
            <div class="profile-img">
                {% if user_profile.image %}
                    <img src="{{ user_profile.image.url }}">
                {% else %}
                    <img src="../media/profile_images/default.jpg">
                {% endif %}
            </div>
            <div class="profile-links">
             
                <!-- availability takes a boolean to display different images-->
            
                <div class="user-info"><a href="{% url 'front-end:user-availability' user_profile.id %}">Availability:</a>
                {% if user_profile.available %}
                    <img src="../static/images/available.svg" id="image-available">
                {% else %}
                    <img src="../static/images/unavailable.svg" id="image-unavailable">
            
                {% endif %}
                </div>
                </div>
                {% if request.user == user_profile %}
                    <!-- probably the permissions will determine which user sees what-->
                    <div class="user-info"><a href="{% url 'front-end:favourite-projects' %}">Favourite Projects</a></div>
                    <div class="user-info"><a href="{% url 'front-end:saved-projects' %}">Interested Projects</a></div>
                    <div class="user-info"><a href="{% url 'front-end:finished-projects' %}">Finished Projects</a></div>
                {% endif %}
                <!-- delete user-->
                <button onclick="confirmDelete()" style="background-color: #dc2626; color: white; padding: 0.75rem 1.5rem; border: none; border-radius: 6px; cursor: pointer; font-weight: 600;">
                Delete Account
                </button>
                <form id="delete-form" method="POST" action="{% url 'front-end:delete-user' user.id %}" style="display: none;">
                {% csrf_token %}
                </form>

                    <script>
                    function confirmDelete() {
                        // Show confirmation popup
                        if (confirm('Are you sure you want to delete your account from IdeaCloud, your favorite place to share projects?\n\nThis action CANNOT be undone!\n\nAll your projects, comments, and data will be permanently deleted.')) 
                        {
                            // If user clicks OK, submit the form
                            document.getElementById('delete-form').submit();
                        }
                        // If user clicks Cancel, nothing happens
                    }
                    </script>

            </div>
        </div>
    </div>
</div>

{% endblock %}